.content {
    overflow-y: auto;
    margin-top: 3rem;
    height: calc(100vh - 48px);
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 48px;
    border-bottom: 1px solid #d5d5d5;
}

.appName {
    margin-left: 1.5rem;
    text-decoration: none;
    color: black;
}

.counterButton {
    all: unset;
    cursor: pointer;
    font-size: 30px;
    padding-right: 1rem;
}