.centeringContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.innerContainer {
    padding-top: 2.5rem;
    width: 100%;
    max-width: 48rem;
}

.showcaseText {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
}