.container {
    display: flex;
    padding-top: 2.5rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.showcaseText {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
}